# =====================================
# PYTHON CACHE / COMPILED FILES
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log

# =====================================
# VIRTUAL ENVIRONMENT
# =====================================
venv/
env/
.venv/
ENV/
